body{
  -ms-overflow-style:none;
  scrollbar-width:none;
}
body::-webkit-scrollbar{
  display:none;
}
*{
  -ms-overflow-style:none;
  scrollbar-width:none;
}
*::-webkit-scrollbar{
  display:none;
}
p{
  margin:0vh;
}
img{
  width:100%;
  border:0.2vh solid black;
  padding:0.7vh;
  border-radius:1.6vh;
}
#script-fixed{
  display:none;
  width:0vh;
  height:0vh;
}
.sticky{
  position:fixed;
  top:0vh;
}
.sticky + #info-wrapper{
  margin-top:24vh;
}
#page-wrapper{
  position:absolute;
  top:0vh;
  /*bottom:0vh;*/
  left:0vh;
  right:0vh;
  min-height: 100vh;
}
#header-wrapper{
  width:100%;
  margin:0vh auto 0vh auto;
}
#header-title{
  font-family:'Kanit', sans-serif;
  font-size:7vh;
  font-weight:700;
  margin:0vh;
  text-align:center;
  padding:3vh;
  /* text-shadow:0.1vh 0.1vh #f2f2f2; */
  /*background:rgba(102, 179, 255, 0.5);*/
  background:#b8dcfc;
}
#header-title a{
  text-decoration:none;
  color:black;
}
#header-title a:hover{
 cursor: pointer;
}
.nav{
  width:100%;
  box-shadow:0vh 0.2vh 0.5vh #8c8c8c;
}
.nav-link{
  width:calc(100%/7);
  opacity:1;
  color:black;
  text-align:center;
  padding:1.5vh 0vh 1.5vh 0vh;
  text-transform:uppercase;
  font-size:2.2vh;
  font-family:'Sofia Sans', sans-serif;
  font-weight:600;
  line-height:3vh;
  background:none;
  border:0.2vh solid black;
  background:white;
}
.nav-link:hover{
  background:#e6e6e6;
  color:#000000;
}
#info-wrapper{
  width:65%;
  margin-left:auto;
  margin-right:auto;
  margin-top:3.25vh;
  margin-bottom:3.25vh;
}
#website-info{
  /*font-size:2.5vh;*/
  text-align:justify;
  font-size:3vh;
  /*padding-bottom:3.1vh;*/
}
#current-link{
  background:#4d4d4d;
  color:#f2f2f2;
}

.row>.cell{
  padding:0px!important;
}
.img-caption{
    text-align: center;
    font-size: 2vh;
    margin-top: 1.3vh;
    font-weight: bold;
}
.row{
  display:flex;
  justify-content:flex-start;
  align-items:stretch;
  flex-wrap:nowrap;
}
.cell{
  flex-grow:1;
  flex-basis:100%;
}
.right-cell{
  padding-left:2.2vh;
}
.img-caption{
  text-align:center;
  font-size:2.3vh;
  margin-top:1.3vh;
    font-size:1.75vh;

}
.section-title{
  font-size:3.6vh;
  margin-bottom:0.65vh;
    display:block;
}
.info-border{
  width:65% !important;
}
.info-border>#website-info{
  padding:2.3vh;
  border:0.2vh solid black;
  border-radius:2vh;
}
.left-cell{
  padding-right:2.2vh;
}
.section-title{
  margin-bottom:1vh;
}
.section-border{
  padding:2.3vh;
  border:0.2vh solid black;
  border-radius:2vh;
}
.full-wrapper{
  display:flex;
  flex-direction:column;
  justify-content:center;
  height:100%;
}
.row{
  display:flex;
  justify-content:flex-start;
  align-items:stretch;
  flex-wrap:nowrap;
}
.cell{
  flex-grow:1;
  flex-basis:100%;
}
.quote{
  padding-left:2.2vh;
  border-left:solid 0.5vh gray;
}
.quote-atr{
  text-align:right;
}
.quote-src{
  color:#a6a6a6;
}

