/*
* A NEW ERA: THE BIRTH OF THE BOMB
* NATIONALS
* v4.1.0
* May 12, 2023 9:20
*/
img, .img-caption, video, .quote, audio, #header-wrapper {user-select:none;}
body{
  -ms-overflow-style:none;
  scrollbar-width:none;
}
body::-webkit-scrollbar{
  display:none;
}
*{
  -ms-overflow-style:none;
  scrollbar-width:none;
}
*::-webkit-scrollbar{
  display:none;
}
p{
  margin:0vh;
  line-height: 215%;
  text-shadow: grey 0vh 0vh 0.01vh;
}
img, video{
  width: 100%;
  border-radius: 1.6vh;
  max-height: 75vh;
  box-shadow: 0vh 0vh 1.8vh grey;
  background:white;
}
img, video{
  transition:1s ease;
}
video:hover{
  -webkit-transform:scale(1.03);
  -ms-transform:scale(1.03);
  transform:scale(1.03);
  transition:1s ease;
}
img:hover{
  -webkit-transform:scale(1.06);
  -ms-transform:scale(1.06);
  transform:scale(1.06);
  transition:1s ease;
}
br{
  user-select:none;
}
#script-fixed{
  display:none;
  width:0vh;
  height:0vh;
}
/*.sticky{
  position:fixed;
  top:0vh;
}
.sticky + #info-wrapper{
  margin-top: 22.2vh;
}*/
#description{
  background-image:url('https://site.nhd.org/10733515/uploaded/ddddasfdasdf.jpg');
}
.sticky .nav{
  position:fixed;
  top:0vh;
  z-index: 1;
  box-shadow:0vh 0.2vh 1vh #8c8c8c;
}
.sticky + #info-wrapper{
  margin-top: 6.58vh;
  margin-top: 9.3vh;
}
#page-wrapper{
  position:absolute;
  top:0vh;
  left:0vh;
  right:0vh;
  min-height: 100vh;
  background-image: url("https://site.nhd.org/10733515/uploaded/Subtle-Light-Tile-Pattern-Vol3.jpg");
}
#header-wrapper{
  width:100%;
  margin:0vh auto 0vh auto;
  z-index:100;
}
#header-title{
  font-family:'Kanit', sans-serif;
  font-size:7vh;
  font-weight:700;
  margin:0vh;
  text-align:center;
  padding:3.07vh;
  background:#b8dcfc;
  background-repeat:no-repeat;
  background-position:center bottom;
  background-attachment:scroll;
  background-size:cover;
  background-image:url('https://site.nhd.org/10733515/uploaded/uygfcdfhcghjbbhgcfdxszdgfhg.png');

}
#header-title a{
  text-decoration:none;
  color:black;
  text-shadow: 0vh 0vh 2vh #b8dcfc;
}
#header-title a:hover{
 cursor: pointer;
}
.nav{
  width:100%;
  box-shadow:0vh 0.2vh 0.5vh #8c8c8c;
  border: 0.2vh black solid;
  border-right:0;
}
/*..section-border {
    border: 0.2vh solid #495057;
    padding: 2vh;
    border-radius: 4vh;
    padding-left: 4vh;
    padding-right: 4vh;
    box-shadow: 0vh 0vh 1vh grey;
}*/
.nav-link{
  width:calc(100%/7);
  opacity:1;
  color:black;
  text-align:center;
  padding:1.5vh 0vh 1.5vh 0vh;
  text-transform:uppercase;
  font-size:2.2vh;
  font-family:'Sofia Sans', sans-serif;
  font-weight:600;
  line-height:3vh;
  background:none;
  border-right: 0.2vh solid black;
  background:white;
}
.nav-link:nth-child(2) {
    display: none;
}
.nav-link:hover{
  background:#e6e6e6;
  color:#000000;
}
#info-wrapper{
  width:65%;
  margin-left:auto;
  margin-right:auto;
  margin-top:3vh;
  margin-bottom:3.25vh;
}
#website-info{
  text-align:left;
  font-size:2.85vh;
}
#current-link{
  background:#4d4d4d;
  color:#f2f2f2;
}

.row>.cell{
  padding:0px!important;
}
.img-caption{
    text-align: center;
    font-size: 2vh;
    margin-top: 1.3vh;
    font-weight: bold;
}
.row{
  display:flex;
  justify-content:flex-start;
  align-items:stretch;
  flex-wrap:nowrap;
}
.cell{
  flex-grow:1;
  flex-basis:100%;
}
.right-cell{
  padding-left:2.2vh;
}
.img-caption{
  text-align:center;
  font-size:2.3vh;
  margin-top:1.3vh;
  font-size:1.75vh;
}
.section-title{
  font-size:4vh;
  margin-bottom:0.65vh;
  margin-bottom:1vh;
  display:block;
}
.info-border{
  width:65% !important;
}
.info-border>#website-info{
  padding:2.3vh;
  border:0.2vh solid black;
  border-radius:2vh;
}
.left-cell{
  padding-right:2.2vh;
}
.full-wrapper{
  display:flex;
  flex-direction:column;
  justify-content:center;
  height:100%;
}
.row{
  display:flex;
  justify-content:flex-start;
  align-items:stretch;
  flex-wrap:nowrap;
}
.cell{
  flex-grow:1;
  flex-basis:100%;
}
.quote{
  padding-left:2.2vh;
  border-left:solid 0.35vh gray;
  color:#2184ab;
  text-align: center;
}
.quote-atr{
  text-align:right;
}
.false-caption{
  user-select:none;
  text-align:center;
  font-size:1.75vh;
  margin-top:1.3vh;
  color:transparent;
}
a[href="/10733515/nuclear-fission"] {
   display: none;
}
@media only screen and (max-width: 945px){
     .nav-link{
         width:calc(100%/3) !important;
    }
     .nav-link:first-child{
         width:100% !important;
    }
     img{
         max-height: none;
    }
     .nav-link{
         border-bottom: 0.2vh solid black;
         border-right: 0.2vh solid black;
    }
}
 @media only screen and (max-width: 745px){
     .nav-link{
         width:calc(100%/2) !important;
    }
     .nav-link:first-child{
         width:100% !important;
    }
     img{
         max-height: none;
    }
     .nav-link{
        border-bottom: 0.2vh solid black;
         border-right: 0.2vh solid black;
    }
     #info-wrapper{
         width:95%;
         margin-left:auto;
         margin-right:auto;
         padding-left:1vh;
         padding-right:1vh;
    }
     .row{
         display:block;
         
    }
     .sticky .nav{
         position:static;
    }
     .sticky + #info-wrapper{
         margin-top:0vh;
       margin-top:3vh;
       
    }
     .row > .cell {
         padding-left:2.2vh;
         padding-right:2.2vh;
    }
}
 @media only screen and (max-width: 260px){
     .nav-link{
         width:100%;
         border-bottom:0.2vh solid black;
         border-right: 0vh solid black;
    }
}
